/* Start Globel Rules   */
body {
    font-family: 'Open Sans', sans-serif;
}

/*    Start Navbar   */

.scrolled {
    background-color: rgba(0,0,0,.8);
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.navbar-inverse .navbar-brand span {
    color: #ff8b38;
    font-weight: normal;
    
}

/*  End Navbar    */

/*     Start Header   */
.header {
    
    background: url('../images/heaader.png') no-repeat top center fixed;
    -webkit-background-size : cover;
    -moz-background-size : cover;
    -o-background-size : cover;
    background-size : cover;
    color: #FFF;
}

.header .overlay {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .52);
    padding: 50px 0;
}

.header .centering-vh {
    margin-top: 25vh;
}

@media (max-width :991px) {
.header .centering-vh {
    margin-top: 60px;
}
}

.header h1 {
    font-weight: bold;
    font-size: 70px;
}


.header h1 span {
    color: #ff8b38;
    font-weight: normal;
}

.header .lead {
    font-size: 36px;
    font-family: 'Raleway', sans-serif; 
}


.header .lead:after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background-color: #FFF;
    margin: 25px 0;
}

@media (max-width: 991px) {
.header .lead:after {
    margin: 30px auto;
   }
}


.header .second {
    color: #9d9da0;
    line-height: 1.8;
    font-size: 18px;
}

.header button{
    background: transparent;
    padding: 8px 25px;
    border: 2px solid #FFF;
    font-size: 17px;
    margin-top: 20px;
}

@media (max-width :991px) {
    .header button {
        display: block;
        margin: 20px auto
    }
}

.header form {
    width: 360px;
    background-color: #FFF;
    border-radius: 5px;
    overflow: hidden;
   /* margin-top: 50px; */
}

@media( max-width: 400px) {
  
  header form {
    width: 100%;
  }
  
}

.header form h2 {
    background-color: #f5f5f5;
    color: #333333;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.header form h2 span {
    color: #ff8b38;
}

.header form .form-control{
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    margin: 0 auto 40px;
    width: 80%;
}

.header form input[type="submit"] {
    background-color: #ff8b38;
    padding: 20px;
    border-radius: 0;
    margin-top: 50px;
    font-size: 18px;
}

/*     End Header   */

/*      Start Soical Media     */

.soical { 
    padding: 10px;
    -webkit-box-shadow: 0px 2px 8px #b7b7b7;
    -o-box-shadow: 0px 2px 8px #b7b7b7;
    -moz-box-shadow: 0px 2px 8px #b7b7b7;
    box-shadow: 3px 4px 8px #d6d6d6;
}

@media (max-width: 991px) {
 .soical {
        text-align: center;
    }
}

.soical h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

@media (max-width: 991px) {
 .soical h3 {
        margin-bottom: 10px;
    }
}

.soical p {
    color: #a4a5a8;
    font-size: 14px;
    line-height: 1.5;
}

.soical i {
    color: #ccc;
    margin: 30px 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
   
}

@media (max-width: 991px) {
 .soical i {
    margin: 10px 15px;
    font-size: 25px; 
    }
}

.soical .fa-facebook-f:hover {
    color: #3b5998; 
}

.soical .fa-twitter:hover {
    color: #1da1f2 ;
}

.soical .fa-google-plus-g:hover {
    color: #dd4b39 ;
}

.soical .fa-pinterest:hover {
    color: #bd081c ;
}

.soical .fa-instagram:hover {
    color: #f77737 ;
}

.soical .fa-stumbleupon:hover {
    color: #eb4924 ;
}

.soical .fa-rss:hover {
    color: #f26522 ;
}

/*      End Soical Media     */


/*      Start Section Tabs     */
.tab {
    padding: 80px 0;
    background-color: #f5f5f5;
}

@media(max-width: 991px) {
	.tab {
		text-align: center
	}
}

.tab .tab-switch li {
    background-color: #333;
    height: 120px;
    line-height: 120px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #FFf;
    cursor: pointer;  
}

.tab .tab-switch li.selected {
    background-color: #ff8b38
}

.tab .tab-switch li:hover {
    background-color: #ff8b38
}

.tab .tab-content div:not(.tab-one){
    display: none;
}

.tab .tab-content h3 {
    margin-top: 0;
    font-weight: bolder;
    margin-bottom: 30px;
    color: #000;
    letter-spacing: -1px;
}

@media(max-width: 991px) {
	.tab .tab-content h3 {
		margin: 30px 0;
	}
}


.tab .tab-content .lead {
    color: #a2a3a6;
    font-size: 18px;
    line-height: 1.5;
}

.tab .tab-content .btn-lg {
    padding:  12px 35px;
    font-size: 18px;
    line-height: 1.333333;
    border-radius: 6px;
    background-color: #ff8b38;
    color: #fff;
}
/*      End Section Tabs     */



/*      Start Section sublist     */

.sublist {
    padding: 80px 0;
}

@media(max-width: 991px) {
	.sublist {
		text-align: center;
        padding: 30px 0;
	}
}

.sublist .sub-img {
    margin-top: 50px;
}

.sublist .sublist-head {
    color: #212121;
    font-weight: bold;
}

.sublist .sublist-desc {
    color: #a2a3a6;
    line-height: 1.6;
    font-size: 17px;
    margin-bottom: 40px;
    
}

.sublist p {
    color: #a2a3a6; 
} 

.sublist .head-icon {
    font-weight: bold;
}

.sublist .list-icons {
    margin-bottom: 30px;
    overflow: hidden;
    margin-left: 10px
}

.sublist .list-icons i {
    width: 45px;
    height: 45px;
    line-height: 40px;
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    text-align: center;
    margin-right: 25px;
    margin-top: 20px
}

@media(max-width: 991px) {
	.sublist .list-icons i {
		float: none !important;
        margin: 10px 0;
	}
}

.sublist .list-icons .text-info {
    width: calc(100% - 70px);
    
}

@media(max-width: 991px) {
	.sublist .list-icons .text-info {
		float: none !important;
        width: 100%
	}
}

/*      End Section sublist     */


/*      Start Standard Picture Section     */

.standard {
    padding: 80px 0;
    background-color: #f5f5f5;
}

@media(max-width: 991px) {
	.standard {
		padding: 30px 0;
        text-align: center;
	}
}

.standard .standard-head {
    color: #212121;
    font-weight: bold;
     margin-top: 50px;
}

.standard .standard-desc {
    color: #a2a3a6;
    line-height: 1.6;
    font-size: 17px;
    margin-bottom: 40px;
    
}

/*      End Standard Picture Section     */


/*      Start This Is Awesom Section     */

.awesom {
    padding: 60px 0;
    
}

.awesom .awesom-head {
    font-size: 50px;
    font-family: 'Raleway', sans-serif; 
}

.awesom .awesom-desc {
    margin-bottom: 80px;
    color: #a2a3a6;
}

.awesom i {
    width: 65px;
    height: 65px;
    line-height: 65px;
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px
}

.awesom .feat-head {
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
}

.awesom .feat-info {
    color: #a2a3a6;
    line-height: 1.5;
}

@media(max-width: 991px) {
	.awesom .feat-box {
        margin-bottom: 30px;
	}
}

/*      End This Is Awesom Section     */

/*      Start Price Section     */
.price {
    padding: 80px 0;
    background-color: #f5f5f5
}

@media(max-width: 991px) {
	.price  {
        padding: 40px 0;
	}
}

.price .price-head {
    font-family: 'Raleway', sans-serif; 
    color: #212121;
    font-size: 40px;
}

.price .price-info {
     color: #a2a3a6;
    margin-bottom: 50px;
} 

@media(max-width: 991px) {
	.price .price-info {
        margin-bottom: 10px;
	}
}

.price .price-box {
    background-color: #fff;
}

@media(max-width: 991px) {
	.price .price-box {
        margin-bottom: 30px;
	}
}

.price .price-box .paln-head {
    background-color: #333;
    padding: 15px 0;
    color: #fff;
    font-weight: bold;
    margin: 0;
    border-bottom: 1px solid #fff;
}

.price .price-box .price-option {
    background-color: #333;
    padding: 15px 0 30px
}

.price .price-box .price-option .prices {
    color: #fff;
    display: block;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}

.price .price-box .price-option .prices .usd {
    font-size: 30px
}

.price .price-box .period {
    color: #8d8d8d;
    font-weight: bold;
    font-style: italic;
}

.price .price-option {
    border-bottom: 5px solid #ff8b38;
}

.price .configuration li {
    padding: 18px;
    border-bottom: 1px solid #f5f5f5;
    color: #a4a5a8;
}

.price .most-pop {
    background-color: #ff8b38;
    padding: 5px 10px 10px;
    margin-bottom: 0px;
    font-weight: bold;
    
}

.price .basic ,
.price .enterprise {
    margin-top: 35px;
}
/*      End Price Section     */


/*      Start Testimonials Section     */
.testimonials {
    padding: 80px 0;
}

@media(max-width: 991px) {
	.testimonials {
        padding: 40px 0;
	}
}

@media(max-width: 991px) {
	.testimonials .media {
        margin-bottom: 30px;
	}
}

.testimonials .testimonials-head{
    font-family: 'Raleway', sans-serif; 
    color: #212121;
    font-size: 40px;
}

.testimonials .testimonials-info {
    color: #a2a3a6;
    margin-bottom: 50px;
}

.testimonials .client-say {
    background-color: #f5f5f5;
    color: #86878b;
    padding: 30px 15px;
    position: relative;
    margin-bottom: 20px;
}

.testimonials .client-say:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px;
    border-color: #f5f5f5 transparent transparent;
    position: absolute;
    bottom: -28px;
    left: 20px;
}

.testimonials .media-heading {
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px
}

.testimonials .media-body p {
    color: #86878b;
} 

/*      End Testimonials Section     */


/*      Start Custom Section     */

.custom {
    
    background: url('../images/custom.png') no-repeat top center;
    -webkit-background-size : cover;
    -moz-background-size : cover;
    -o-background-size : cover;
    background-size : cover;
    position: relative;
    color: #FFF;
    min-height: 350px;
}

.custom .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    padding: 50px 0;
}

.custom .custom-head {
    font-family: 'Raleway', sans-serif;
}

.custom .custom-info {
    color: #c1c1ce;
    font-size: 18px;
}

.custom .head-border-center:after {
    background-color: #fff }

.custom .custom-btn {
    margin: 30px auto;
    background: transparent;
    padding: 10px 30px;
    display: block;
    border: 2px solid #dbdad8;
}

/*      End Custom Section     */

/*      Start Contact Us Section     */

.contact-us {
    padding: 60px 0;
}

@media(max-width: 991px) {
	.testimonials {
        padding: 30px 0;
	}
}

.contact-us .contact-info {
    color: #acadaf;
    font-size: 18px;
    margin-bottom: 60px;

}

.contact-us form input[type="text"] ,
.contact-us form input[type="email"] {
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #cccccc82;
    border-radius: 0;
}

.contact-us form textarea {
    height: 178px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #cccccc82;
    border-radius: 0;
}

.contact-us .contact-btn {
    margin: 30px auto;
    background: #ff9b51;
    padding: 16px 30px;
    display: block;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
}

/*      End Contact Us Section     */

/*      Start Footer Section     */

.footer {
    padding: 18px;
    background-color: #000000;
}

.footer i{
    color: #ccc;
    margin-right: 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.footer .fa-facebook-f:hover {
    color: #3b5998; 
}

.footer .fa-twitter:hover {
    color: #1da1f2 ;
}

.footer .fa-google-plus-g:hover {
    color: #dd4b39 ;
}

.footer .fa-pinterest:hover {
    color: #bd081c ;
}

.footer .fa-instagram:hover {
    color: #f77737 ;
}

.footer .fa-stumbleupon:hover {
    color: #eb4924 ;
}

.footer .fa-rss:hover {
    color: #f26522 ;
}

.footer span {
    display: block;
    margin-top: 10px;
    color: #f00;
    font-size: 15px;
}

/*      End Footer Section     */



/* Start framework    */
.uppercase {
    text-transform: uppercase;
}

.head-border:after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #ff8b38;
    margin: 30px 0;
}

@media (max-width: 991px){
    .head-border:after {
        margin: 30px auto;
      }
}

.head-border-center:after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #ff8b38;
    margin: 25px auto;
}

@media (max-width: 991px) {
 .header  .text-center-xs {
        text-align: center;
    }
}


/* End framework    */





